@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="messages">Messagess</div>
    <input type="text" class="txt text-xl-center" id="txtMessage" />
    <button class="btn btn-primary" id="btnSendMessage">Send</button>
</div>