@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="messages">Messagess</div>
    <input type="text" class="txt text-xl-center" />
    <button class="btn btn-primary">Send</button>
</div>


<script src="/Scripts/jquery-1.10.2.min.js"></script>
<!--Reference the SignalR library. -->
<script src="/Scripts/jquery.signalR-2.1.0.js"></script>
